* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
a {
  color: #5c676d;
  background: none;
}
a:hover {
  color: #5c676d;
  text-decoration: none;
}
.main-container {
  list-style-position: outside;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  min-width: 850px;
}
.top-container-search-contacts {
  left: 0;
  right: 0;
  height: 40px;
  padding: 0 88px 0 116px;
  background: #252B2B;
  color: #5c676d;
}
.top-container-search-contacts i {
  padding: 13px;
}
.one-login {
  border: none;
}
.left-email {
  float: left;
  font-size: 12px;
}
.right-top-container-search-contacts-right {
  float: right;
  font-size: 13px;
}
.top {
  padding: 0;
  margin: 0;
  top: 0;
  position: relative;
  width: 1077px;
  left: 0;
  right: 0;
  height: 1px;
  background: red;
  border: none;
}
.right-top-container-search-contacts-right i {
  border-right: 1px solid silver;
  padding-right: 15px;
}
.registration {
  padding: 10px 14px 10px 0;
}
.banner-and-menu {
  top: 0;
  left: 0;
  right: 0;
  background: #252B2B;
  color: #5c676d;
  padding: 0 88px 0 116px;
  height: 40px;
}
